@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Inter:wght@400;500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #2c6764;
  background-image: url('/assets/grain-light.svg');
  background-repeat: repeat;
  transition: background-color 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] body {
  background-color: #121621;
  background-image: url('/assets/grain-dark.svg');
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-family: inherit;
}
